@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191f40;
  font-family: 'Ropa Sans', sans-serif;
}

.moving-cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  background: url('/cloud-overlay.png') 0 100% repeat-x;
  animation: cloudLoop 80s linear infinite;
  z-index: 2;
  pointer-events: none;
}

@keyframes cloudLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

#kenburn-img {
  animation: kenburn 120s ease infinite;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes kenburn {
  0% {
    transform-origin: bottom right;
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.15);
    transform-origin: top left;
  }
  45% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.1);
    transform-origin: bottom left;
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    transform-origin: top right;
  }
}
